.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2rem 6rem;
}

.nav_links{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav_logo{
  margin-right: 2rem;
  font-weight: 700;
  font-size: x-large;
}

.nav_container{
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

.nav_container p{
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}


.nav_logo a{
  color: white;
}


.nav_container a{
  color: white;
}